# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so

# СЕССИИ TELEGRAM (сессия юзербота скрыта)
userbot_session.session
userbot_session.session-journal
userbot_session*
.restart_state

# IDE и системные файлы
.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini
